<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Football links</title>
   <link rel="icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon" />
</head>
<body>
   <h1>Stream links for <span style="color: red;">{{team}}</span></h1>

   <h2>RojaTV.tv</h2>
   <ol>
      {% for link in rojatv_links %}
      <li><a href="{{link.url}}">{{link.title}}</a></li>
      {% endfor %}
   </ol>

   <h2>PirloTVonlineHD.com</h2>
   <ol>
      {% for link in pirlotv_links %}
      <li>{{link.matchname}} - <a href="{{link.url}} target="_blank">{{link.text}}</a></li>
      {% endfor %}
   </ol>
</body>
</html>
