<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FutLinks</title>
</head>
<body>
    <iframe src="https://vikistream.com/embed2.php?player=desktop&amp;live=do40" style="overflow:hidden;height:720;width:1280" width="1280" height="720" scrolling="no" autoplay="yes" frameborder="0" allowfullscreen="true" allowtransparency="true" allow="autoplay, fullscreen" allowautoplay="yes" id="thatframe" webkitallowfullscreen="" mozallowfullscreen=""></iframe>
</body>
</html>
